body{
    margin: 0px;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
nav ul {
background-color:  #0400d8;
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
margin: 0px;
position: relative;
}
ul a {
    display: block;
    padding: 20px;
    text-decoration-line: none;
    color: aliceblue;
}

.roboto-logga {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
}
nav ul li {
    display: flex;
    align-items: center; 
    width: 100%;
    position: relative;
}
.meny {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #0400d8;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s, opacity 0.3s ease;
    text-align: center;
}
.meny.aktiv {
    max-height: 300px;
    opacity: 1;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay.aktiv {
    display: block;
}
#idmeny {
    position: absolute;
    left: 15px;
}

.hem {
    margin: 0 auto;
}
.meny ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.meny ul li {
    display: block;
    font-family: "Roboto", sans-serif;
}
.meny ul li a {
    display: block;
    padding: 15px;
    text-align: center;
}
h2 {
    text-align: center;
    margin-top: 20px;
     
}
.bild-gallery{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}
.bild-gallery img{
    width: 100%;
}

@media (min-width: 688px){
    .bild-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px){
.bild-gallery{
       
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

.lightbox-hidden {
    display: none;
}


.lightbox-visible {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}


#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

