body{
    margin: 0px;
}
nav ul {
    background-color:  #0400d8;
list-style: none;
display: flex;
text-align: center;
display: block;
padding: 0px;
margin: 0px;
}
ul a {
    display: block;
    padding: 20px;
    text-decoration-line: none;
    color: aliceblue;
}

.roboto-logga {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;

}
nav ul li {
    display: flex;
    align-items: center; 
    gap: 300px; 
    margin-left: 30px;
}
.meny {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0400d8;
}
.meny.aktiv {
    display: block;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay.aktiv {
    display: block;
}