body{
    margin: 0px;
}
nav ul {
    background-color:  #0400d8;
list-style: none;
display: flex;
text-align: center;
display: block;
padding: 0px;
margin: 0px;
}
ul a {
    display: block;
    padding: 20px;
    text-decoration-line: none;
    color: aliceblue;
}

.roboto-logga {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;

}